<ul class="note-list">
  <li ng-repeat="note in notes | orderBy:'-createdOn'">
    <div class="media">
      <a href="#" class="pull-left">
        <img alt="User Image" class="img-thumbnail" ng-src="{{note.thumbnail}}">
      </a>
      <div class="media-body">
        <div class="media-heading">
          <h3 class="content-header"><a href="#">{{note.title}}</a></h3>
        </div>
        <strong>{{note.editor}}</strong> <small>posted on <em>{{note.createdOn | date:'yyyy/MM/dd HH:mm'}}</em></small>
      </div>
    </div>
    <hr class="list-border"/>
  </li>
</ul>
